@using BookStore.Areas.Admin.Models
@model List<UserRoleViewModel>

@{
    ViewData["Title"] = "Edit Role";
    var roleId = ViewBag.roleId;
    var roleName = ViewBag.roleName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-2 mb-2">
    
    <div class="row">
        <div class="col-md-5" style="background-color:lightpink; border-radius:15px; padding:20px">
            <form method="post">

                <div class="card mt-2">
                    <div class="card-header">
                        <h2>Add or Remove Users from @roleName Role</h2>
                    </div>
                    <div class="card-body">
                       @for (int i = 0; i < Model.Count; i++)
                       {
                        <div class="form-check m-1">
                            <input type="hidden" asp-for="@Model[i].UserId" />
                            <input type="hidden" asp-for="@Model[i].UserName" />
                            <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                            <label class="form-check-label" asp-for="@Model[i].IsSelected">
                                @Model[i].UserName
                            </label>
                        </div>
                       }
                    </div>
                    <div class="card-footer">
                        <input type="submit" value="Update" class="btn btn-primary" />
                        <a asp-controller="Admin" asp-action="EditRole" asp-route-id="@roleId" class="btn btn-primary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>